{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'users/css/login_form.css' %}" type="text/css">
        <script src="{% static 'vendor/js/bootstrap.bundle.min.js' %}"></script>
        <title>Login to Vote!</title>
    </head>
    <body>
        <div class="login-panel">
            <h4>Login to the Voting App</h4>
            <p class="form-text">To begin your private voting experience</p>
            <form method="post">
                {% csrf_token %}
                <!-- <div class="mb-3">
                    <label for="id_email" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="email">
                    <label for="id_password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password">
                    <p class="form-text"><a href = "users/password_reset">Forgot Password?</a></p>
                </div>
                <input type="submit" class="btn btn-primary" value="LOGIN"> -->
                {{ form.as_p }}
                <button type="submit">Log In</button>
            </form>
        </div>
    </body>
</html>