{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'users/css/password_reset_confirm.css' %}" type="text/css">
        <script src="{% static 'vendor/js/bootstrap.bundle.min.js' %}"></script>
        <title>Password Reset Confirm</title>
    </head>
    <body>
        <div class="reset-panel">
            <h4>Reset your password</h4>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_new_password1" class="form-label">New password</label>
                    <input type="password" name="new_password1" class="form-control" id="id_new_password1">
                </div>
                <div class="mb-3">
                    <label for="id_new_password2" class="form-label">Confirm new password</label>
                    <input type="password" name="new_password2" class="form-control" id="id_new_password2">
                </div>
                <input type="submit" class="btn btn-primary" value="Reset password">
            </form>
        </div>
    </body>
</html>