{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'users/css/password_reset_form.css' %}" type="text/css">
        <script src="{% static 'vendor/js/bootstrap.bundle.min.js' %}"></script>
        <title></title>
    </head>
    <body>
        <div class="reset-panel">
            <h4>Forgot your password?</h4>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="email">
                    <p class="form-text">We'll use this email address to send you password reset instructions.</p>
                </div>
                <input type="submit" class="btn btn-primary" value="Send instructions">
            </form>
        </div>
    </body>
</html>