{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'users/css/password_reset_form.css' %}" type="text/css">
        <script src="{% static 'vendor/js/bootstrap.bundle.min.js' %}"></script>
        <title>Password Reset Complete</title>
    </head>
    <body>
        <div class="reset-panel">
            <h4>Reset your password</h4>
            <p>Your password has been successfully reset. Please navigate to the login page to access your account!</p>
        </div>
    </body>
</html>