<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{{ ballot.ballot_title }} Questions {% block title %}{% endblock %}</title>
</head>

<body>
    <!--NavBar-->
    <nav class="navbar navbar-dark bg-primary mb-4">
      <div class="container">
        <a class="navbar-brand" href="/">Team-4 Voting</a>
        <a class="navbar-brand" href="/admin/">{{request.user.username}}</a>
      </div>
    </nav>

    <h1 class="text-center mb-3">{{ ballot.ballot_title }}</h1>
    <p class="text-center mb-2">{{ ballot.ballot_description }}</p>


    {% for question in question_list %}
    <p>
        {{question.question_text}}
        <br>
        <a href="{% url 'ballots:detail-q' current_b_id question.id %}" class="btn btn-success btn-lg mt-4">View Question Choices</a>
    </p>
    <br>
    {% endfor %}
    <a href="{% url 'ballots:index' %}" class="btn btn-primary btn-lg mt-4">Finish Ballot</a>


</body>
</html>