{% extends "base.html" %}
{% block content %}
    <!--NavBar-->
    <nav class="navbar navbar-dark bg-primary mb-4">
      <div class="container">
        <a class="navbar-brand" href="/">Team-4 Voting</a>
        <a class="navbar-brand" href="/admin/">{{request.user.username}}</a>
      </div>
    </nav>

    <h1 class="text-center mb-3">{{ ballot.ballot_title }}</h1>
    <p class="text-center mb-2">{{ ballot.ballot_description }}</p>


    {% for question in question_list %}
    <p>{{question.question_text}}</p>
    <form action="{% url 'ballots:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
        <div class="form-check">
            <input type="radio" name="choice" class="form-check-input" id="choice{{ forloop.counter }}"
                value="{{ choice.id }}" />
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
        </div>
        {% endfor %}
        <input type="submit" value="Vote" class="btn btn-success btn-lg mt-4" />
        <p>
            <!--Spacing Between Questions-->
        </p>
    </form>
    {% endfor %}
    <a href="{% url 'ballots:index' %}" class="btn btn-primary btn-lg mt-4">Finish Ballot</a>
{% endblock content %}