<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Team-4 Ballots {% block title %}{% endblock %}</title>
</head>

<body>
    <!--NavBar-->
    <nav class="navbar navbar-dark bg-primary mb-4">
      <div class="container">
        <a class="navbar-brand" href="/">Team-4 Voting</a>
        {% if request.user.is_superuser %}
        <a class="navbar-brand" href="/ballot-admin">Modify Ballots</a>
        {% endif %}
        <a class="navbar-brand" href="/admin/">{{request.user.username}}</a>
      </div>
    </nav>

    <div class="text-center">
        <div class="card-body">
            <h1>Welcome To Team-4 Voting App</h1>
            <p>This is the main menu holding all ballots</p>
        </div>
    </div>

    <div class="container">
        <p>
            Ballots listed by closest to deadline:
            <ol>
                {% if ballot_list%}
                {% for ballot in ballot_list %}
                {% if ballot.due_date >= today%}
                <li>
                    {{ ballot.ballot_title }}
                    <p>
                        {{ ballot.ballot_description}} <br>
                        Start Date: {{ ballot.pub_date }} <br>
                        End Date: {{ ballot.due_date }}
                    </p>
                    <a href="{% url 'ballots:detail' ballot.id %}" class="btn btn-primary btn-sm">Vote Now</a>
                    <br><br>
                </li>
                {% endif %}
                {% endfor %}
                {% else %}
                <p>No ballots available</p>
                {% endif %}
            </ol>
        </p>
        <div class="text-center">
            <div class="card-body">
                <h1>Completed Ballots</h1>
            </div>
        </div>
        <p>
            <ol>
                {% if finished_ballots %}
                {% for ballot in finished_ballots %}
                {% if ballot.due_date >= today %}
                <li>
                    {{ ballot.ballot_title }}
                    <p>{{ ballot.ballot_description}}</p>
                </li>
                {% endif %}
                {% endfor %}
                {% else %}
                <p>No completed ballots</p>
                {% endif %}
            </ol>
        </p>
        </p>
        <div class="text-center">
            <div class="card-body">
                <h1>Ballots Past Due Date</h1>
            </div>
        </div>
        <p>
            <ol>
                {% if ballot_list %}
                {% for ballot in ballot_list %}
                {% if ballot.due_date < today %}
                <li>
                    {{ ballot.ballot_title }}
                    <p>{{ ballot.ballot_description}}</p>
                    <a class="btn btn-secondary btn-sm" href="{% url 'ballots:results' ballot.id %}">Tally Votes</a>
                </li>
                <br>
                {% endif %}
                {% endfor %}
                {% else %}
                <p>All ballots are still available</p>
                {% endif %}
            </ol>
        </p>
    </div>

</body>

</html>