    {% extends "base.html" %}
    {% block content %}
    <div class="container" style="max-width:800px">
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">{{ballot.ballot_title}}</h1>
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{ballot.ballot_description}}</small>
                <small class="text-muted">{{ballot.pub_date}}</small>
                <small class="text-muted">{{ballot.due_date}}</small>
                <small class="text-muted">{{ballot.district}}</small>
            </div>
        </div>
        {% for question in ballot.question_set.all %}
            <p style="font-size:160%;"> {{forloop.counter}}. {{question.question_text}}</p>
            {% for choice in question.choice_set.all %}
            <p> &emsp; {{choice.choice_text}} </p>
            {% endfor %}
            <a class="btn btn-secondary btn-sm" href="{% url 'ballots:choices' pk=question.pk %}">Add Choices</a>
            <p>
            <!--Spacing Between Questions-->
            </p>
        {% endfor %}
        {% if ballot.pub_date >= today %}
        <div>
            <a class="btn btn-primary btn-sm" href="{% url 'ballots:questions' pk=ballot.pk %}">Add Questions</a>
            <p>
            <!--Spacing Between Questions-->
            </p>
        </div>
        <a href="{% url 'ballots:edit' pk=ballot.pk %}" class="btn btn-primary btn-sm" >Edit</a>
        <a href="{% url 'ballots:edit' pk=ballot.pk %}" class="btn btn-primary btn-sm" >Delete</a>
        {% endif %}
        <div>
            <p>
            <!--Spacing Between Questions-->
            </p>
        </div>
         <a class="text-dark" href="{% url 'ballots:ballot-admin'%}">Return</a>
    </div>
    {% endblock %}