{% extends "base.html" %}
{% block content %}
<div class="container" style="max-width:600px">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Ballots</h1>
        <p class="lead">Ballots managed under your district</p>
    </div>
    <div class="py-5">
        <div class="row">
            <div class="col-12">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit">
                </form>
                <form method = post>
                </form>
            </div>
            <a class="text-dark" href="{% url 'ballots:questions' pk=ballot.pk %}">Add Questions</a>
        </div>
    </div>
    <a class="text-dark" href="{% url 'ballots:ballot-admin'%}">Return</a>
</div>
{% endblock %}