{% extends "ballots/base.html" %}
{% block content %}
    <div class="reset-panel">
        <h4>Reset your password</h4>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_new_password1" class="form-label">New password</label>
                <input type="password" name="new_password1" class="form-control" id="id_new_password1">
            </div>
            <div class="mb-3">
                <label for="id_new_password2" class="form-label">Confirm new password</label>
                <input type="password" name="new_password2" class="form-control" id="id_new_password2">
            </div>
            <input type="submit" class="btn btn-primary" value="Reset password">
        </form>
    </div>
{% endblock content %}