{% extends "ballots/base.html" %}
{% block content %}
    <div class="reset-panel">
        <h4>Forgot your password?</h4>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="email">
                <p class="form-text">We'll use this email address to send you password reset instructions.</p>
            </div>
            <input type="submit" class="btn btn-primary" value="Send instructions">
        </form>
    </div>
{% endblock content %}